<h4>Formularios <small> Formularios Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
        <small class="text-danger" *ngIf="nombreNoValido">Nombre Invalido</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="ApellidoNoValido">
        <small class="text-danger" *ngIf="ApellidoNoValido">Apellido Invalido</small>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="correo"
             formControlName="correo"
             [class.is-invalid]="correoNoValido">
      <small class="text-danger" *ngIf="correoNoValido">Correo Invalida</small>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Nombre de Usuario"
             formControlName="usuario"
             [class.is-invalid]="usuarioNoValido">
      <small class="text-danger" *ngIf="usuarioNoValido">Usuario Invalida</small>

    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="contraseña"
             formControlName="pass1"
             [class.is-invalid]="pass1NoValido">
      <small class="text-danger" *ngIf="pass1NoValido">Contraseña Invalida</small>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">repita</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="contraseña"
             formControlName="pass2"
             [class.is-invalid]="pass2NoValido">
      <small class="text-danger" *ngIf="pass2NoValido">contraseña Invalida</small>

    </div>
  </div>





  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">

      <div class="col">
        <input type="text"
                class="form-control"
                placeholder="Distrito"
                formControlName="distrito"
                [class.is-invalid]="distritoNoValido">
      </div>
      
      <div class="col">
        <input type="text"
                class="form-control"
                placeholder="Ciudad"
                formControlName="ciudad"
                [class.is-invalid]="ciudadNoValido">
      </div>


    </div>
  </div>


  <div class=" row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls, let i=index">
          <td>  {{ i + 1  }}</td>
          <td><input 
            class="form-control"
            type="text"
            [formControlName]="i"
            ></td>
          <td> <button class="btn btn-danger" (click)="borrarPasatiempos(i)">Borrar</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempos()" > + Agregar</button>
      </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>


<hr>
<pre>
  <h4>Estado del Formulario: {{forma.valid}}</h4>
  <br>
  <h4>Status: {{ forma.status }}</h4>
</pre>
<pre>
  <h4>{{ forma.value | json }}</h4>
</pre>